
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  gap: 0 1em;
}

.notearea-container {
  display: flex;
  flex-direction: column;
  gap: 1em 0;
}

.delete-button {
  visibility: hidden;
}

.note-item:hover .delete-button {
  visibility: visible;
} */

.add-note-button {
  background-color: #4caf50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

html, body, #root {
  height: 100%;
  margin: 0;
}